@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body:not(.IconsPaginaPrincipal) {
    font-family: sans-serif;
    font-weight: bold;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./img/background.png), url(./img/estrellas-bg.png);
  background-size: 100%;
  background-position: center center;
  background-color: #ebc671;
  overflow: hidden;
}

header {
  max-height: 100px;
  min-width: 100%;
  height: 100px;
  background-color: aliceblue;
  z-index: -3;
}

.HeaderDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.HeaderDivLogo {
  height: 100%;
  background-color: #fff;
  width: 50%;
}

.HeaderDivLogo img {
  max-height: 100%;
  height: 100%;
  margin-left: 10%;
}

.TextHeader {
    width: 150%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 10px;
  background-color: rgba(177, 255, 255, 0.514);
}

.TextHeader h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #5fa3a5;
}

.TextHeader p {
  font-size: 0.9rem;
  font-weight: 300;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  min-width: 100%;
  z-index: 0;
  max-height: 100px;
}

.FooterDiv {
  height: 110%;
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  background-color: rgba(198, 253, 244, 0.836);;
}

.FooterDivInterior {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-top: -27px;
}

.FooterDivInterior img {
  height: 30px;
  margin: 0 10px;
}

.FooterLogos {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: -15px;
}

.FooterLogos img {
  height: 100%;
  margin: 0 3px;
  padding: 0;
}

.FooterLogos a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.FooterLogos a.Contactanos {
  font-size: 0.9rem;
  font-weight: 300;
  color: #fff;
  background-color: #5fa3a5;
  padding: 7px 10px;
  border-radius: 8px;
}


@keyframes labels {
    from {
      z-index: 7;
    }
    to {
      z-index: 1;
    }
  }
  
  
  
  .label:nth-of-type(1) {
    animation-delay: 0s;
  }
  .label:nth-of-type(2) {
    animation-delay: -0.5s;
    
  }
  .label:nth-of-type(3) {
    animation-delay: -1s;
  }
  .label:nth-of-type(4) {
    animation-delay: -1.5s;
    
  }
  .label:nth-of-type(5) {
    animation-delay: -2s;
    
  }
  .label:nth-of-type(6) {
    animation-delay: -2.5s;
   
  } 
  .label:nth-of-type(7) {
    animation-delay: -3s;
  } 
  
  
#posicion1:checked ~ .Cards label:nth-of-type(12) {order: 4;}
#posicion1:checked ~ .Cards label:nth-of-type(2) {order: 14;}
#posicion1:checked ~ .Cards label:nth-of-type(8) {order: 1;}
#posicion1:checked ~ .Cards label:nth-of-type(15) {order: 6;}
#posicion1:checked ~ .Cards label:nth-of-type(10) {order: 9;}
#posicion1:checked ~ .Cards label:nth-of-type(6) {order: 2;}
#posicion1:checked ~ .Cards label:nth-of-type(14) {order: 11;}
#posicion1:checked ~ .Cards label:nth-of-type(3) {order: 5;}
#posicion1:checked ~ .Cards label:nth-of-type(11) {order: 8;}
#posicion1:checked ~ .Cards label:nth-of-type(9) {order: 12;}
#posicion1:checked ~ .Cards label:nth-of-type(16) {order: 15;}
#posicion1:checked ~ .Cards label:nth-of-type(13) {order: 10;}
#posicion1:checked ~ .Cards label:nth-of-type(7) {order: 16;}
#posicion1:checked ~ .Cards label:nth-of-type(4) {order: 3;}
#posicion1:checked ~ .Cards label:nth-of-type(5) {order: 7;}
#posicion1:checked ~ .Cards label:nth-of-type(1) {order: 13;}


#posicion2:checked ~ .Cards label:nth-of-type(8) {order: 4;}
#posicion2:checked ~ .Cards label:nth-of-type(11) {order: 9;}
#posicion2:checked ~ .Cards label:nth-of-type(10) {order: 3;}
#posicion2:checked ~ .Cards label:nth-of-type(14) {order: 5;}
#posicion2:checked ~ .Cards label:nth-of-type(6) {order: 14;}
#posicion2:checked ~ .Cards label:nth-of-type(12) {order: 8;}
#posicion2:checked ~ .Cards label:nth-of-type(4) {order: 11;}
#posicion2:checked ~ .Cards label:nth-of-type(3) {order: 15;}
#posicion2:checked ~ .Cards label:nth-of-type(5) {order: 2;}
#posicion2:checked ~ .Cards label:nth-of-type(1) {order: 1;}
#posicion2:checked ~ .Cards label:nth-of-type(7) {order: 12;}
#posicion2:checked ~ .Cards label:nth-of-type(2) {order: 6;}
#posicion2:checked ~ .Cards label:nth-of-type(15) {order: 10;}
#posicion2:checked ~ .Cards label:nth-of-type(9) {order: 13;}
#posicion2:checked ~ .Cards label:nth-of-type(16) {order: 16;}
#posicion2:checked ~ .Cards label:nth-of-type(13) {order: 7;}


#posicion3:checked ~ .Cards label:nth-of-type(7) {order: 4;}
#posicion3:checked ~ .Cards label:nth-of-type(2) {order: 12;}
#posicion3:checked ~ .Cards label:nth-of-type(9) {order: 6;}
#posicion3:checked ~ .Cards label:nth-of-type(4) {order: 9;}
#posicion3:checked ~ .Cards label:nth-of-type(5) {order: 14;}
#posicion3:checked ~ .Cards label:nth-of-type(3) {order: 15;}
#posicion3:checked ~ .Cards label:nth-of-type(1) {order: 1;}
#posicion3:checked ~ .Cards label:nth-of-type(11) {order: 11;}
#posicion3:checked ~ .Cards label:nth-of-type(10) {order: 2;}
#posicion3:checked ~ .Cards label:nth-of-type(13) {order: 8;}
#posicion3:checked ~ .Cards label:nth-of-type(12) {order: 5;}
#posicion3:checked ~ .Cards label:nth-of-type(6) {order: 3;}
#posicion3:checked ~ .Cards label:nth-of-type(15) {order: 7;}
#posicion3:checked ~ .Cards label:nth-of-type(16) {order: 13;}
#posicion3:checked ~ .Cards label:nth-of-type(14) {order: 16;}


#posicion4:checked ~ .Cards label:nth-of-type(2) {order: 7;}
#posicion4:checked ~ .Cards label:nth-of-type(14) {order: 6;}
#posicion4:checked ~ .Cards label:nth-of-type(12) {order: 1;}
#posicion4:checked ~ .Cards label:nth-of-type(5) {order: 10;}
#posicion4:checked ~ .Cards label:nth-of-type(11) {order: 4;}
#posicion4:checked ~ .Cards label:nth-of-type(3) {order: 11;}
#posicion4:checked ~ .Cards label:nth-of-type(6) {order: 15;}
#posicion4:checked ~ .Cards label:nth-of-type(1) {order: 12;}
#posicion4:checked ~ .Cards label:nth-of-type(16) {order: 5;}
#posicion4:checked ~ .Cards label:nth-of-type(10) {order: 9;}
#posicion4:checked ~ .Cards label:nth-of-type(4) {order: 2;}
#posicion4:checked ~ .Cards label:nth-of-type(7) {order: 13;}
#posicion4:checked ~ .Cards label:nth-of-type(9) {order: 16;}
#posicion4:checked ~ .Cards label:nth-of-type(8) {order: 14;}
#posicion4:checked ~ .Cards label:nth-of-type(13) {order: 3;}
#posicion4:checked ~ .Cards label:nth-of-type(15) {order: 8;}


#posicion5:checked ~ .Cards label:nth-of-type(4) {order: 4;}
#posicion5:checked ~ .Cards label:nth-of-type(9) {order: 10;}
#posicion5:checked ~ .Cards label:nth-of-type(12) {order: 6;}
#posicion5:checked ~ .Cards label:nth-of-type(5) {order: 1;}
#posicion5:checked ~ .Cards label:nth-of-type(6) {order: 13;}
#posicion5:checked ~ .Cards label:nth-of-type(3) {order: 2;}
#posicion5:checked ~ .Cards label:nth-of-type(8) {order: 7;}
#posicion5:checked ~ .Cards label:nth-of-type(11) {order: 11;}
#posicion5:checked ~ .Cards label:nth-of-type(14) {order: 9;}
#posicion5:checked ~ .Cards label:nth-of-type(2) {order: 15;}
#posicion5:checked ~ .Cards label:nth-of-type(7) {order: 3;}
#posicion5:checked ~ .Cards label:nth-of-type(13) {order: 8;}
#posicion5:checked ~ .Cards label:nth-of-type(10) {order: 14;}
#posicion5:checked ~ .Cards label:nth-of-type(1) {order: 12;}
#posicion5:checked ~ .Cards label:nth-of-type(15) {order: 16;}
#posicion5:checked ~ .Cards label:nth-of-type(16) {order: 5;}


#posicion6:checked ~ .Cards label:nth-of-type(7) {order: 4;}
#posicion6:checked ~ .Cards label:nth-of-type(5) {order: 10;}
#posicion6:checked ~ .Cards label:nth-of-type(14) {order: 7;}
#posicion6:checked ~ .Cards label:nth-of-type(11) {order: 2;}
#posicion6:checked ~ .Cards label:nth-of-type(10) {order: 13;}
#posicion6:checked ~ .Cards label:nth-of-type(13) {order: 6;}
#posicion6:checked ~ .Cards label:nth-of-type(2) {order: 9;}
#posicion6:checked ~ .Cards label:nth-of-type(3) {order: 16;}
#posicion6:checked ~ .Cards label:nth-of-type(6) {order: 12;}
#posicion6:checked ~ .Cards label:nth-of-type(8) {order: 15;}
#posicion6:checked ~ .Cards label:nth-of-type(1) {order: 1;}
#posicion6:checked ~ .Cards label:nth-of-type(12) {order: 5;}
#posicion6:checked ~ .Cards label:nth-of-type(15) {order: 3;}
#posicion6:checked ~ .Cards label:nth-of-type(16) {order: 11;}
#posicion6:checked ~ .Cards label:nth-of-type(4) {order: 8;}
#posicion6:checked ~ .Cards label:nth-of-type(9) {order: 14;}


#posicion7:checked ~ .Cards label:nth-of-type(1) {order: 16;}
#posicion7:checked ~ .Cards label:nth-of-type(5) {order: 10;}
#posicion7:checked ~ .Cards label:nth-of-type(7) {order: 12;}
#posicion7:checked ~ .Cards label:nth-of-type(9) {order: 11;}
#posicion7:checked ~ .Cards label:nth-of-type(10) {order: 14;}
#posicion7:checked ~ .Cards label:nth-of-type(16) {order: 13;}
#posicion7:checked ~ .Cards label:nth-of-type(12) {order: 15;}
#posicion7:checked ~ .Cards label:nth-of-type(13) {order: 4;}
#posicion7:checked ~ .Cards label:nth-of-type(11) {order: 9;}
#posicion7:checked ~ .Cards label:nth-of-type(14) {order: 7;}
#posicion7:checked ~ .Cards label:nth-of-type(6) {order: 6;}
#posicion7:checked ~ .Cards label:nth-of-type(2) {order: 2;}
#posicion7:checked ~ .Cards label:nth-of-type(3) {order: 8;}
#posicion7:checked ~ .Cards label:nth-of-type(4) {order: 5;}
#posicion7:checked ~ .Cards label:nth-of-type(8) {order: 3;}
#posicion7:checked ~ .Cards label:nth-of-type(15) {order: 1;}



.FondoOpaco {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.FondoOpaco-1,
.FondoOpaco-2,
.FondoOpaco-3,
.FondoOpaco-4,
.FondoOpaco-5,
.FondoOpaco-6,
.FondoOpaco-7,
.FondoOpaco-8 {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Cards {
    max-width: min-content;
    display: grid;
    pointer-events: none;
    padding: 0;
    margin: 100px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    z-index: -3;

  }
  
  
      

.FlipCard {
  position: relative;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;

}

.IconsPaginaPrincipal{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 1%;
    z-index: 150;
    position: absolute;

}


.Card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.ElementBack,
.ElementFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.ElementBack img,
.ElementFront img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  height: auto;
  pointer-events: none;
}

.ElementBack {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  overflow: hidden;
}

.ElementFront {
  /* invert the y like if it was a mirror */
  transform: rotateY(0deg);
}

.ElementBack img {
  width: 95%;
}

.CartasMal{  
    font-size: 15px;
    display: none;
    position: relative;
    top: 5px;
    left: -10%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 200px;
    background-color: #f8aa51bd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2),
      0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 85;
  }
  
  
  
  


.error {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
  background-color: #e7ce77;
  border-radius: 10px;
  border: 10px solid #ffc95d;
  z-index: 20;
  pointer-events: none;
}

.Inicio {
  width: 300px;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 20px;
  opacity: 1;
}

.button:hover {
  opacity: 0.8;
}



.label {
  padding: 14px 16px;
  background: #ff9900;
  box-shadow: 0px 6px 0px #a86500;
  animation: labels 7s infinite linear;
  user-select: none;
  position: fixed;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 15px;
  font-size: 16px;
}


.DivGanaste {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  width: 60%;
  height: fit-content;
  background-color: #e7ce77;
  border-radius: 10px;
  border: 10px solid #ffc95d;
  z-index: 20;
}

.ContenedorParejas {
  display: flex;
  opacity: 0;
  z-index: -1;
}


.ContenedorParejas .Continuar {
  padding: 14px 16px;
  background: #ff9900;
  box-shadow: 0px 6px 0px #a86500;
  animation: changeOrder 6s infinite linear;
  user-select: none;
  width: fit-content;
  height: 10px;
  font-size: 12px;
  padding: 10px 3px;
}

.Ganaste {
  flex-direction: column;
  display: none;
}

.Ganaste .ContenedorHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  max-height: 250px;
  height: 100%;
}

.Ganaste .imagen {
  max-height: inherit;
}
.ContenedorParejas .imagen {
  width: 60%;
  max-height: inherit;
  height: 100%;
}

.Ganaste .ContenedorHeader .imagen img {
  max-height: inherit;
  height: 100%;
  pointer-events: none;
}

.ContenedorParejas .imagen img:nth-of-type(1) {
  width: 100%;
  pointer-events: none;
}

.ContenedorParejas .imagen img:not(:nth-of-type(1)) {
  position: absolute;
  pointer-events: none;
}

.ContenedorParejas .imagen img.maria {
  width: 15%;
  bottom: 5%;
  left: 1%;
}

.ContenedorParejas .imagen img.jose {
  width: 10%;
  bottom: 15%;
  left: 3%;
}

.ContenedorParejas .imagen img.jesus {
  width: 15%;
  bottom: 3%;
  left: 15%;
}

.ContenedorParejas .imagen img.melchor {
  width: 18%;
  bottom: 8%;
  left: 28%;
}

.ContenedorParejas .imagen img.gaspar {
  width: 12%;
  bottom: 16%;
  left: 24%;
}

.ContenedorParejas .imagen img.baltazar {
  width: 12%;
  bottom: 20%;
  left: 14%;
}

.ContenedorParejas .imagen img.pastor {
  width: 11%;
  bottom: 14%;
  left: 41.5%;
}

.ContenedorParejas .imagen img.mula-buey {
  width: 12.5%;
  bottom: 0%;
  left: 47.5%;
}

.Ganaste .textoParejas,
.ContenedorParejas .textoParejas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./img/background.png), url(./img/estrellas-bg.png);
  background-color: #e9c97c;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.textoParejas {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;


  }
.textoParejas .cintaybolas{
    display: flex;
    flex-direction: row;
    top: 5%;

    height: 20%;
    justify-content: space-between;
  }
  .bola{
    width: 20%;
    height: 100%;
  }

  .bola img{
    width: 10%;
    height: 10%;
  }


  .cinta img{
    width: 10%;
    height: 10%;
  }
  .cinta {
    margin-right: 200px;
    width: 20%;
    height: 80%;
  }
.textoParejas .copo {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    width: 100%;
    height: 10%;
    justify-content: space-between;
  }

  .copo img{
    width: 5%; 
    height: 5%;
  }
  @keyframes rotation {
    from{transform: rotateZ(0deg);}

    to{transform: rotateZ(360deg);}
}


.copo1 {
    animation: rotation 1s infinite;
  }
  
.copo2 {
 margin-left:285px;
 animation: rotation 1s infinite;
}

.ContenedorParejas .textoParejas {
  width: 40%;
}

.Ganaste .textoParejas img {
  width: 130px;
}

.Ganaste .textoParejas h2,
.ContenedorParejas .textoParejas h2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #d7162f;
  margin: 0 50px;
}

.Ganaste .textoParejas p,
.ContenedorParejas .textoParejas p {
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  padding: 0;
  text-align: center;
  margin: 10px 20px;
}

.Ganaste .IconosPantallaFinal {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  color: #fff;
  background-color: #075048;
  padding: 10px 0;
}

.Ganaste .IconosPantallaFinal p {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0 7px;
}

.Ganaste .IconosPantallaFinal a img {
  width: 35px;
  height: 35px;
}

.GanasteButton {
  background: #d7162f;
  color: #fff;
  box-shadow: 0px 6px 0px #880e1e;
  width: 120px;
  height: 10px;
  font-size: 12px;
  padding: 10px 3px;
}

.Ganaste a,
.ContenedorParejas a {
  text-decoration: none;
}


#caja1:checked + #caja2:checked ~ .ContenedorParejas:nth-of-type(1),
#caja3:checked + #caja4:checked ~ .ContenedorParejas:nth-of-type(2),
#caja5:checked + #caja6:checked ~ .ContenedorParejas:nth-of-type(3),
#caja7:checked + #caja8:checked ~ .ContenedorParejas:nth-of-type(4),
#caja9:checked + #caja10:checked ~ .ContenedorParejas:nth-of-type(5),
#caja11:checked + #caja12:checked ~ .ContenedorParejas:nth-of-type(6),
#caja13:checked + #caja14:checked ~ .ContenedorParejas:nth-of-type(7),
#caja15:checked + #caja16:checked ~ .ContenedorParejas:nth-of-type(8) {
  animation: show-and-hide 5s ease-in-out forwards;
  display: flex;
}

#caja1:checked + #caja2:checked ~ .FondoOpaco-1,
#caja3:checked + #caja4:checked ~ .FondoOpaco-2,
#caja5:checked + #caja6:checked ~ .FondoOpaco-3,
#caja7:checked + #caja8:checked ~ .FondoOpaco-4,
#caja9:checked + #caja10:checked ~ .FondoOpaco-5,
#caja11:checked + #caja12:checked ~ .FondoOpaco-6,
#caja13:checked + #caja14:checked ~ .FondoOpaco-7,
#caja15:checked + #caja16:checked ~ .FondoOpaco-8 {
  animation: show-and-hide-for-background 5s ease-in-out forwards;
} 

#caja1:checked + #caja2:checked ~ .ContenedorParejas .maria,
#caja3:checked + #caja4:checked ~ .ContenedorParejas .jose,
#caja5:checked + #caja6:checked ~ .ContenedorParejas .jesus,
#caja7:checked + #caja8:checked ~ .ContenedorParejas .melchor,
#caja9:checked + #caja10:checked ~ .ContenedorParejas .gaspar,
#caja11:checked + #caja12:checked ~ .ContenedorParejas .baltazar,
#caja13:checked + #caja14:checked ~ .ContenedorParejas .pastor,
#caja15:checked + #caja16:checked ~ .ContenedorParejas .mula-buey {
  animation: falling-card 2s ease-in-out forwards;
}


@keyframes falling-card {
    0% {
      /* bounce to the right */
      transform: translateX(0px) rotate(-0deg);
    }
    25% {
      /* bounce to the left */
      transform: translateX(-10px) rotate(10deg);
    }
    50% {
      /* bounce to the right */
      transform: translateX(10px) rotate(-10deg);
    }
    75% {
      /* bounce to the left */
      transform: translateX(-10px) rotate(10deg);
    }
    /* fall */
    100% {
      transform: translateY(100vh) rotate(-0deg);
    }
  }
  
  @keyframes show-and-hide {
    0% {
      opacity: 1;
      z-index: 21;
    }
    1% {
      opacity: 1;
      z-index: 21;
    }
    99% {
      opacity: 1;
      z-index: 21;
    }
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  
  @keyframes show-and-hide-for-background {
      0% {
        opacity: 1;
        z-index: 5;
      }
      1% {
        opacity: 1;
        z-index: 5;
      }
      99% {
        opacity: 1;
        z-index: 5;
      }
      100% {
        opacity: 0;
        z-index: -5;
      }
  }


@keyframes show-error {
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes press-button {
    0%{
      background-color: #d58000;
    }
    99% {
      opacity: 1;
    }
    100% {
      box-shadow: 0px 2px 0px #a86500;
      opacity: 0;
      pointer-events: none;
    }

}

.GanasteButton:focus {
  animation: press-button 0.3s forwards;
  transform: translateY(2px);
}

.Posicion:checked ~ .label{
  animation: press-button 0.3s forwards;
  transform: translate(-50%, -40%);
}
  
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }
  @keyframes desapear-modals {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes apear-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #posicion1:checked ~  .Inicio,
  #posicion2:checked ~  .Inicio,
  #posicion3:checked ~  .Inicio,
  #posicion4:checked ~  .Inicio,
  #posicion5:checked ~  .Inicio,
  #posicion6:checked ~  .Inicio,
  #posicion7:checked ~  .Inicio,
  #posicion8:checked ~ .Inicio{
    animation: desapear-modals 1s ease-in-out forwards;
  }

  
  #posicion1:checked ~ .FondoOpaco   ,
  #posicion2:checked ~ .FondoOpaco   ,
  #posicion3:checked ~ .FondoOpaco   ,
  #posicion4:checked ~ .FondoOpaco   ,
  #posicion5:checked ~ .FondoOpaco   ,
  #posicion6:checked ~ .FondoOpaco   ,
  #posicion7:checked ~ .FondoOpaco,
  #posicion8:checked ~.FondoOpaco   {
    animation: desapear-modals 1s ease-in-out forwards;
    pointer-events: none;
  }
  
  @keyframes enable-main {
    0% {
      z-index: -3;
      pointer-events: none;
    }
    99% {
      z-index: -3;
      pointer-events: auto;
    }
    100% {
      z-index: 0;
      pointer-events: auto;
    }
  }

  #posicion1:checked ~  .Cards ,
  #posicion2:checked ~  .Cards ,
  #posicion3:checked ~  .Cards ,
  #posicion4:checked ~  .Cards ,
  #posicion5:checked ~  .Cards ,
  #posicion6:checked ~  .Cards ,
  #posicion7:checked ~  .Cards {
    animation: enable-main 1s ease-in-out forwards;
  }
  
  #posicion1:checked ~  .Cards .FondoOpaco ,
  #posicion2:checked ~  .Cards .FondoOpaco ,
  #posicion3:checked ~  .Cards .FondoOpaco ,
  #posicion4:checked ~  .Cards .FondoOpaco ,
  #posicion5:checked ~  .Cards .FondoOpaco ,
  #posicion6:checked ~  .Cards .FondoOpaco ,
  #posicion7:checked ~  .Cards .FondoOpaco {
    animation: desapear-modals 1s ease-in-out forwards;
  }

  #caja1:checked ~  .Cards  .Label1 .Card ,
  #caja2:checked ~  .Cards .Label2 .Card ,
  #caja3:checked ~  .Cards .Label3 .Card ,
  #caja4:checked ~  .Cards .Label4 .Card ,
  #caja5:checked ~  .Cards .Label5 .Card ,
  #caja6:checked ~  .Cards .Label6 .Card ,
  #caja7:checked ~  .Cards .Label7 .Card ,
  #caja8:checked ~  .Cards .Label8 .Card ,
  #caja9:checked ~  .Cards .Label9 .Card ,
  #caja10:checked ~  .Cards .Label10 .Card ,
  #caja11:checked ~  .Cards .Label11 .Card ,
  #caja12:checked ~  .Cards .Label12 .Card ,
  #caja13:checked ~  .Cards .Label13 .Card ,
  #caja14:checked ~  .Cards .Label14 .Card ,
  #caja15:checked ~  .Cards .Label15 .Card ,
  #caja16:checked ~  .Cards .Label16 .Card  {
    transform: rotateY(180deg);
  }

    
  
   #caja1:checked + #caja2:checked ~ .Cards .Label1 , 
  #caja1:checked + #caja2:checked ~ .Cards .Label2 ,
  #caja3:checked + #caja4:checked ~ .Cards .Label3 ,
  #caja3:checked + #caja4:checked ~ .Cards .Label4 ,
  #caja5:checked + #caja6:checked ~ .Cards .Label5 ,
  #caja5:checked + #caja6:checked ~ .Cards .Label6 ,
  #caja7:checked + #caja8:checked ~ .Cards .Label7 ,
  #caja7:checked + #caja8:checked ~ .Cards .Label8 ,
  #caja9:checked + #caja10:checked ~ .Cards .Label9 , 
  #caja9:checked + #caja10:checked ~ .Cards .Label10  ,
  #caja11:checked + #caja12:checked ~ .Cards .Label11  ,
  #caja11:checked + #caja12:checked ~ .Cards .Label12  ,
  #caja13:checked + #caja14:checked ~ .Cards .Label13  ,
  #caja13:checked + #caja14:checked ~ .Cards .Label14  ,
  #caja15:checked + #caja16:checked ~ .Cards .Label15  ,
  #caja15:checked + #caja16:checked ~ .Cards .Label16  
  {
    pointer-events: none;
  }

  
  #caja1:checked ~ #caja2:not(:checked) ~ #caja3:checked ~ #caja4:not(:checked) ~ .Cards label:not(.Label1):not(.Label3),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja3:not(:checked) ~ #caja4:checked ~ .Cards label:not(.Label1):not(.Label4),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja5:checked ~ #caja6:not(:checked) ~ .Cards label:not(.Label1):not(.Label5),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja5:not(:checked) ~ #caja6:checked ~ .Cards label:not(.Label1):not(.Label6),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja7:checked ~ #caja8:not(:checked) ~ .Cards label:not(.Label1):not(.Label7),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja7:not(:checked) ~ #caja8:checked ~ .Cards label:not(.Label1):not(.Label8),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja9:checked ~ #caja10:not(:checked) ~ .Cards label:not(.Label1):not(.Label9),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja9:not(:checked) ~ #caja10:checked ~ .Cards label:not(.Label1):not(.Label10),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label1):not(.Label11),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label1):not(.Label12),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label1):not(.Label13),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label1):not(.Label14),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label1):not(.Label15),
  #caja1:checked ~ #caja2:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label1):not(.Label16),
  
  #caja1:not(:checked) ~ #caja2:checked  ~ #caja3:checked ~ #caja4:not(:checked) ~ .Cards label:not(.Label2):not(.Label3),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja3:not(:checked) ~ #caja4:checked ~ .Cards label:not(.Label2):not(.Label4),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja5:checked ~ #caja6:not(:checked) ~ .Cards label:not(.Label2):not(.Label5),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja5:not(:checked) ~ #caja6:checked ~ .Cards label:not(.Label2):not(.Label6),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja7:checked ~ #caja8:not(:checked) ~ .Cards label:not(.Label2):not(.Label7),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja7:not(:checked) ~ #caja8:checked ~ .Cards label:not(.Label2):not(.Label8),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja9:checked ~ #caja10:not(:checked) ~ .Cards label:not(.Label2):not(.Label9),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja9:not(:checked) ~ #caja10:checked ~ .Cards label:not(.Label2):not(.Label10),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label2):not(.Label11),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label2):not(.Label12),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label2):not(.Label13),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label2):not(.Label14),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label2):not(.Label15),
   #caja1:not(:checked) ~ #caja2:checked ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label2):not(.Label16),
  
  #caja3:checked ~ #caja4:not(:checked) ~ #caja5:checked ~ #caja6:not(:checked) ~ .Cards label:not(.Label3):not(.Label5),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja5:not(:checked) ~ #caja6:checked ~ .Cards label:not(.Label3):not(.Label6),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja7:checked ~ #caja8:not(:checked) ~ .Cards label:not(.Label3):not(.Label7),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja7:not(:checked) ~ #caja8:checked ~ .Cards label:not(.Label3):not(.Label8),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja9:checked ~ #caja10:not(:checked) ~ .Cards label:not(.Label3):not(.Label9),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja9:not(:checked) ~ #caja10:checked ~ .Cards label:not(.Label3):not(.Label10),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label3):not(.Label11),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label3):not(.Label12),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label3):not(.Label13),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label3):not(.Label14),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label3):not(.Label15),
  #caja3:checked ~ #caja4:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label3):not(.Label16),
  
  #caja3:not(:checked) ~ #caja4:checked ~ #caja5:checked ~ #caja6:not(:checked) ~ .Cards label:not(.Label4):not(.Label5),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja5:not(:checked) ~ #caja6:checked ~ .Cards label:not(.Label4):not(.Label6),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja7:checked ~ #caja8:not(:checked) ~ .Cards label:not(.Label4):not(.Label7),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja7:not(:checked) ~ #caja8:checked ~ .Cards label:not(.Label4):not(.Label8),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja9:checked ~ #caja10:not(:checked) ~ .Cards label:not(.Label4):not(.Label9),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja9:not(:checked) ~ #caja10:checked ~ .Cards label:not(.Label4):not(.Label10),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label4):not(.Label11),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label4):not(.Label12),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label4):not(.Label13),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label4):not(.Label14),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label4):not(.Label15),
  #caja3:not(:checked) ~ #caja4:checked ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label4):not(.Label16),
  
  #caja5:checked ~ #caja6:not(:checked) ~ #caja7:checked ~ #caja8:not(:checked) ~ .Cards label:not(.Label5):not(.Label7),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja7:not(:checked) ~ #caja8:checked ~ .Cards label:not(.Label5):not(.Label8),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja9:checked ~ #caja10:not(:checked) ~ .Cards label:not(.Label5):not(.Label9),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja9:not(:checked) ~ #caja10:checked ~ .Cards label:not(.Label5):not(.Label10),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label5):not(.Label11),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label5):not(.Label12),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label5):not(.Label13),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label5):not(.Label14),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label5):not(.Label15),
  #caja5:checked ~ #caja6:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label5):not(.Label16),
  
  #caja5:not(:checked) ~ #caja6:checked ~ #caja7:checked ~ #caja8:not(:checked) ~ .Cards label:not(.Label6):not(.Label7),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja7:not(:checked) ~ #caja8:checked ~ .Cards label:not(.Label6):not(.Label8),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja9:checked ~ #caja10:not(:checked) ~ .Cards label:not(.Label6):not(.Label9),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja9:not(:checked) ~ #caja10:checked ~ .Cards label:not(.Label6):not(.Label10),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label6):not(.Label11),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label6):not(.Label12),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label6):not(.Label13),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label6):not(.Label14),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label6):not(.Label15),
  #caja5:not(:checked) ~ #caja6:checked ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label6):not(.Label16),
  
  #caja7:checked ~ #caja8:not(:checked) ~ #caja9:checked ~ #caja10:not(:checked) ~ .Cards label:not(.Label7):not(.Label9),
  #caja7:checked ~ #caja8:not(:checked) ~ #caja9:not(:checked) ~ #caja10:checked ~ .Cards label:not(.Label7):not(.Label10),
  #caja7:checked ~ #caja8:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label7):not(.Label11),
  #caja7:checked ~ #caja8:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label7):not(.Label12),
  #caja7:checked ~ #caja8:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label7):not(.Label13),
  #caja7:checked ~ #caja8:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label7):not(.Label14),
  #caja7:checked ~ #caja8:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label7):not(.Label15),
  #caja7:checked ~ #caja8:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label7):not(.Label16),
  
  #caja7:not(:checked) ~ #caja8:checked ~ #caja9:checked ~ #caja10:not(:checked) ~ .Cards label:not(.Label8):not(.Label9),
  #caja7:not(:checked) ~ #caja8:checked ~ #caja9:not(:checked) ~ #caja10:checked ~ .Cards label:not(.Label8):not(.Label10),
  #caja7:not(:checked) ~ #caja8:checked ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label8):not(.Label11),
  #caja7:not(:checked) ~ #caja8:checked ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label8):not(.Label12),
  #caja7:not(:checked) ~ #caja8:checked ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label8):not(.Label13),
  #caja7:not(:checked) ~ #caja8:checked ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label8):not(.Label14),
  #caja7:not(:checked) ~ #caja8:checked ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label8):not(.Label15),
  #caja7:not(:checked) ~ #caja8:checked ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label8):not(.Label16),
  
  #caja9:checked ~ #caja10:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label9):not(.Label11),
  #caja9:checked ~ #caja10:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label9):not(.Label12),
  #caja9:checked ~ #caja10:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label9):not(.Label13),
  #caja9:checked ~ #caja10:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label9):not(.Label14),
  #caja9:checked ~ #caja10:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label9):not(.Label15),
  #caja9:checked ~ #caja10:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label9):not(.Label16),
  
  #caja9:not(:checked) ~ #caja10:checked ~ #caja11:checked ~ #caja12:not(:checked) ~ .Cards label:not(.Label10):not(.Label11),
  #caja9:not(:checked) ~ #caja10:checked ~ #caja11:not(:checked) ~ #caja12:checked ~ .Cards label:not(.Label10):not(.Label12),
  #caja9:not(:checked) ~ #caja10:checked ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label10):not(.Label13),
  #caja9:not(:checked) ~ #caja10:checked ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label10):not(.Label14),
  #caja9:not(:checked) ~ #caja10:checked ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label10):not(.Label15),
  #caja9:not(:checked) ~ #caja10:checked ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label10):not(.Label16),
  
  #caja11:checked ~ #caja12:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label11):not(.Label13),
  #caja11:checked ~ #caja12:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label11):not(.Label14),
  #caja11:checked ~ #caja12:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label11):not(.Label15),
  #caja11:checked ~ #caja12:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label11):not(.Label16),
  
  #caja11:not(:checked) ~ #caja12:checked ~ #caja13:checked ~ #caja14:not(:checked) ~ .Cards label:not(.Label12):not(.Label13),
  #caja11:not(:checked) ~ #caja12:checked ~ #caja13:not(:checked) ~ #caja14:checked ~ .Cards label:not(.Label12):not(.Label14),
  #caja11:not(:checked) ~ #caja12:checked ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label12):not(.Label15),
  #caja11:not(:checked) ~ #caja12:checked ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label12):not(.Label16),
  
  #caja13:checked ~ #caja14:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label13):not(.Label15),
  #caja13:checked ~ #caja14:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label13):not(.Label16),
  
  #caja13:not(:checked) ~ #caja14:checked ~ #caja15:checked ~ #caja16:not(:checked) ~ .Cards label:not(.Label14):not(.Label15),
  #caja13:not(:checked) ~ #caja14:checked ~ #caja15:not(:checked) ~ #caja16:checked ~ .Cards label:not(.Label14):not(.Label16)
  {
    pointer-events: none;
  }  
  
  #caja1:checked ~ #caja2:not(:checked) ~ #caja3:checked ~ #caja4:not(:checked) ~ .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja3:not(:checked) ~ #caja4:checked ~ .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja5:checked ~ #caja6:not(:checked) ~ .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja5:not(:checked) ~ #caja6:checked ~ .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja7:checked ~ #caja8:not(:checked) ~ .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja7:not(:checked) ~ #caja8:checked ~ .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja9:checked ~ #caja10:not(:checked) ~ .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja9:not(:checked) ~ #caja10:checked ~  .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja1:checked ~ #caja2:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja1:not(:checked) ~ #caja2:checked  ~ #caja3:checked ~ #caja4:not(:checked) ~ .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja3:not(:checked) ~ #caja4:checked ~ .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja5:checked ~ #caja6:not(:checked) ~ .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja5:not(:checked) ~ #caja6:checked ~ .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja7:checked ~ #caja8:not(:checked) ~ .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja7:not(:checked) ~ #caja8:checked ~ .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja9:checked ~ #caja10:not(:checked) ~ .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja9:not(:checked) ~ #caja10:checked ~  .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
   #caja1:not(:checked) ~ #caja2:checked ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja3:checked ~ #caja4:not(:checked) ~ #caja5:checked ~ #caja6:not(:checked) ~ .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja5:not(:checked) ~ #caja6:checked ~ .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja7:checked ~ #caja8:not(:checked) ~ .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja7:not(:checked) ~ #caja8:checked ~ .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja9:checked ~ #caja10:not(:checked) ~ .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja9:not(:checked) ~ #caja10:checked ~  .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja3:checked ~ #caja4:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja3:not(:checked) ~ #caja4:checked ~ #caja5:checked ~ #caja6:not(:checked) ~ .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja5:not(:checked) ~ #caja6:checked ~ .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja7:checked ~ #caja8:not(:checked) ~ .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja7:not(:checked) ~ #caja8:checked ~ .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja9:checked ~ #caja10:not(:checked) ~ .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja9:not(:checked) ~ #caja10:checked ~  .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja3:not(:checked) ~ #caja4:checked ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja5:checked ~ #caja6:not(:checked) ~ #caja7:checked ~ #caja8:not(:checked) ~ .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja7:not(:checked) ~ #caja8:checked ~ .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja9:checked ~ #caja10:not(:checked) ~ .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja9:not(:checked) ~ #caja10:checked ~  .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja5:checked ~ #caja6:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja5:not(:checked) ~ #caja6:checked ~ #caja7:checked ~ #caja8:not(:checked) ~ .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja7:not(:checked) ~ #caja8:checked ~ .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja9:checked ~ #caja10:not(:checked) ~ .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja9:not(:checked) ~ #caja10:checked ~  .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja5:not(:checked) ~ #caja6:checked ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja7:checked ~ #caja8:not(:checked) ~ #caja9:checked ~ #caja10:not(:checked) ~ .CartasMal,
  #caja7:checked ~ #caja8:not(:checked) ~ #caja9:not(:checked) ~ #caja10:checked ~  .CartasMal,
  #caja7:checked ~ #caja8:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja7:checked ~ #caja8:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja7:checked ~ #caja8:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja7:checked ~ #caja8:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja7:checked ~ #caja8:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja7:checked ~ #caja8:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja7:not(:checked) ~ #caja8:checked ~ #caja9:checked ~ #caja10:not(:checked) ~ .CartasMal,
  #caja7:not(:checked) ~ #caja8:checked ~ #caja9:not(:checked) ~ #caja10:checked ~  .CartasMal,
  #caja7:not(:checked) ~ #caja8:checked ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja7:not(:checked) ~ #caja8:checked ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja7:not(:checked) ~ #caja8:checked ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja7:not(:checked) ~ #caja8:checked ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja7:not(:checked) ~ #caja8:checked ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja7:not(:checked) ~ #caja8:checked ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja9:checked ~ #caja10:not(:checked) ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja9:checked ~ #caja10:not(:checked) ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja9:checked ~ #caja10:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja9:checked ~ #caja10:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja9:checked ~ #caja10:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja9:checked ~ #caja10:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja9:not(:checked) ~ #caja10:checked ~ #caja11:checked ~ #caja12:not(:checked) ~  .CartasMal,
  #caja9:not(:checked) ~ #caja10:checked ~ #caja11:not(:checked) ~ #caja12:checked ~  .CartasMal,
  #caja9:not(:checked) ~ #caja10:checked ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja9:not(:checked) ~ #caja10:checked ~ #caja13:not(:checked) ~ #caja14:checked ~ .CartasMal,
  #caja9:not(:checked) ~ #caja10:checked ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja9:not(:checked) ~ #caja10:checked ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja11:checked ~ #caja12:not(:checked) ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja11:checked ~ #caja12:not(:checked) ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja11:checked ~ #caja12:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja11:checked ~ #caja12:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja11:not(:checked) ~ #caja12:checked ~ #caja13:checked ~ #caja14:not(:checked) ~  .CartasMal,
  #caja11:not(:checked) ~ #caja12:checked ~ #caja13:not(:checked) ~ #caja14:checked ~  .CartasMal,
  #caja11:not(:checked) ~ #caja12:checked ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja11:not(:checked) ~ #caja12:checked ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja13:checked ~ #caja14:not(:checked) ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja13:checked ~ #caja14:not(:checked) ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal,
  
  #caja13:not(:checked) ~ #caja14:checked ~ #caja15:checked ~ #caja16:not(:checked) ~  .CartasMal,
  #caja13:not(:checked) ~ #caja14:checked ~ #caja15:not(:checked) ~ #caja16:checked ~  .CartasMal
  {
    display: flex;
    pointer-events: none;
  }  
  
  #caja1:checked + #caja2:checked + #caja3:checked + #caja4:checked + #caja5:checked + #caja6:checked + #caja7:checked
   + #caja8:checked + #caja9:checked + #caja10:checked + #caja11:checked + #caja12:checked + #caja13:checked + 
   #caja14:checked + #caja15:checked + #caja16:checked ~ .Cards  .Ganaste{
  display: flex;
  }

  .CartasMal{  
    font-size: 15px;
    display: none;
    position: relative;
    top: 90px;
    left: -8%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 41vw;
    height: 62px;
    background-color: #f8aa51bd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 85;
  }

  #caja1:checked + #caja2:checked + #caja3:checked + #caja4:checked + #caja5:checked + #caja6:checked + #caja7:checked + #caja8:checked + #caja9:checked + #caja10:checked + #caja11:checked + #caja12:checked + #caja13:checked + #caja14:checked + #caja15:checked + #caja16:checked ~ .Cards .Ganaste
  {
     display: flex;
   }


   
@media screen and (max-width: 1440px) {
    main {
      grid-gap: 5px;
    }
    .FlipCard {
      width: 130px;
      height: 130px;
    }
    .Ganaste h1 {
      font-size: 1.5rem;
    }
  
    .HeaderDiv HeaderDivLogo {
      height: 100%;
    }
  
    .TextHeader h1 {
      font-size: 1.5rem;
    }
  
    .TextHeader p {
      font-size: 0.9rem;
    }
  
    .FooterDivInterior img {
      height: 30px;
    }
  
    .FooterLogos img {
      height: 100%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    main {
      grid-gap: 5px;
      margin: 50px 0 100px 0;
    }
    .FlipCard {
      width: 100px;
      height: 100px;
    }
    .Ganaste h1 {
      font-size: 1.5rem;
    }
  
    header {
      height: 80px;
    }
  
    .HeaderDiv HeaderDivLogo {
      width: 500px;
    }
    .HeaderDiv HeaderDivLogo img {
      width: 100%;
    }
  
    .TextHeader h1 {
      font-size: 1.4rem;
    }
  
    .TextHeader p {
      font-size: 0.7rem;
    }
  
    .FooterDivInterior img {
      height: 30px;
    }
  
    .FooterLogos img {
      height: 100%;
    }
  
    .Ganaste .textoParejas h2 {
      font-size: 1.2rem;
    }
  
    .Ganaste .textoParejas p {
      font-size: 0.7rem;
    }
  
    .Ganaste .bottom-container p {
      font-size: 1rem;
    }
  
    .Ganaste .bottom-container a img {
      width: 30px;
      height: 30px;
    }
  
    .Ganaste .textoParejas img {
      width: 100px;
    }
  
    .Ganaste .textoParejas a {
      font-size: 0.7rem;
      padding: 5px 8px;
    }
  
    .Ganaste .imagen {
      width: 40%;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .FlipCard {
      width: 100px;
      height: 100px;
    }
    
  
    header {
      max-width: 100vw;
      height: 60px;
    }
  
    .TextHeader h1 {
      font-size: 1rem;
    }
  
    .TextHeader p {
      font-size: 0.5rem;
    }
  
    .FooterDivInterior img {
      height: 20px;
    }
  
    footer p {
      font-size: 0.6rem;
    }
  
    .Inicio {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    main {
      grid-gap: 5px;
    }
    .FlipCard {
      width: 80px;
      height: 80px;
    }
  
    .HeaderDiv {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .HeaderDiv HeaderDivLogo {
      width: 20%;
    }
  
    .TextHeader {
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .TextHeader h1 {
      font-size: 0.8rem;
    }
  
    .TextHeader p {
      font-size: 0.4rem;
    }
  
    footer {
      height: 50px;
      max-width: 100vw;
    }
  
    .FooterLogos a{
      height: 20px;
    }
  
    a.Contactanos {
      padding: 0;
      width: fit-content;
      height: 8px;
    }
  
    .Contactanos p {
      font-size: 0.5rem;
    }
  
    .FooterDivInterior img {
      height: 20px;
    }
  
    .FooterDivInterior {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
  
    .ContenedorParejas .textoParejas h2 {
      font-size: 1rem;
      margin: 0;
    }
  
    .ContenedorParejas .textoParejas p {
      font-size: 0.5rem;
    }
  
    .ContenedorParejas .button {
      font-size: 0.5rem;
      padding: 5px 10px;
    }
  
    .Ganaste .textoParejas {
      width: 40%;
    }
  
    .Ganaste .textoParejas h2 {
      font-size: 0.8rem;
    }
  
    .Ganaste .textoParejas p {
      font-size: 0.4rem;
    }
  
    .Ganaste .bottom-container p {
      font-size: 0.6rem;
    }
  
    .Ganaste .bottom-container a img {
      width: 20px;
      height: 20px;
    }
  
    .Ganaste .textoParejas img {
      width: 80px;
    }
  
    .Ganaste .textoParejas a {
      font-size: 0.5rem;
      padding: 4px 3px;
      width: fit-content;
    }
  
    .Ganaste .ContenedorHeader {
      max-height: 200px;
    }
  
    .Ganaste .imagen {
      width: 60%;
    }
  
    .Ganaste .imagen img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
    main {
      grid-gap: 5px;
    }
    .FlipCard {
      width: 60px;
      height: 60px;
    }
  
    .HeaderDiv {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .HeaderDiv HeaderDivLogo {
      width: 20%;
    }
  
    .TextHeader {
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .TextHeader h1 {
      font-size: 0.8rem;
    }
  
    .TextHeader p {
      font-size: 0.4rem;
    }
  
    footer {
      height: 50px;
      max-width: 100vw;
    }
  
    .FooterLogos a{
      height: 20px;
    }
  
    a.Contactanos {
      padding: 0;
      width: fit-content;
      height: 8px;
    }
  
    .Contactanos p {
      font-size: 0.5rem;
    }
  
    .FooterDivInterior img {
      height: 20px;
    }
  
    .FooterDivInterior {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
  
    .Ganaste {
      row-gap: 20px;
    }
  
    .Ganaste .ContenedorHeader {
      flex-direction: column;
      max-height: fit-content;
      row-gap: 10px;
    }
  
    .Ganaste .imagen {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .Ganaste .imagen img {
      width: 100%;
    }
  
    .Ganaste .textoParejas {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 280px) {
    main {
      grid-gap: 5px;
    }
    .FlipCard {
      width: 50px;
      height: 50px;
    }
    .Ganaste {
      width: 90%;
      height: 50%;
    }
  
    .HeaderDiv {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .HeaderDiv HeaderDivLogo {
      width: 20%;
    }
  
    .TextHeader {
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .TextHeader h1 {
      font-size: 0.8rem;
    }
  
    .TextHeader p {
      font-size: 0.4rem;
    }
  
    footer {
      height: 50px;
      max-width: 100vw;
    }
  
    .FooterLogos a{
      height: 20px;
    }
  
    a.Contactanos {
      padding: 0;
      width: fit-content;
      height: 8px;
    }
  
    .Contactanos p {
      font-size: 0.5rem;
    }
  
    .FooterDivInterior img {
      height: 20px;
    }
  
    .FooterDivInterior {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
  
    .CartasMal .error p{
      font-size: 0.8rem;
    }
  }